
@{
    ViewData["Title"] = "Personnel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- Content Wrapper -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

               

                <div class="row">

                    <div class="col-lg-6">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Personal Informtaion
                            </div>
                            <div class="card-body">
                               
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-6">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                               Contacts and Address
                            </div>
                            <div class="card-body">

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


